@page "/promissorynotes"
@using TwilightImperiumReference.Models
@using System.Text.Json;
@inject HttpClient Http

<MudContainer MaxWidth="MaxWidth.Medium">
    <h1>Promissory Notes</h1>
</MudContainer>
@if (AllNotes is null)
{
    <h3>Loading...</h3>
}
else
{
    @foreach (var note in AllNotes)
    {
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="@Typo.h4">@note.Name</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>@note.Description</MudText>
            </MudCardContent>
        </MudCard>
        <br/>
    }
}

@code {

    public List<PromissoryNote>? AllNotes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllNotes = await Http.GetFromJsonAsync<List<PromissoryNote>>("data/pnotes.json") ?? new();
    }
}
